<!DOCTYPE html>
<html ng-app="Metrics">
<head>
	<title>JS7</title>

			<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>


</head>
<body ng-controller="metriccontroller"	ng-click='recordEvent($event)' ng-keydown='recordEvent($event)'>


		<div>
			<button ng-click="buttonclick" class="button">Click Here!</button>
		</div>








<script type="text/javascript" src="main.js"></script>
</body>
</html>